<%- include ("partials/head") %>

<body>
    <div id="mainDiv">
        <%- include('partials/header') %>
        <h1> <%= pageTitle; %> </h1>

        <form  id="addData-form" action="/addData" method="POST">
        <% count = 0; %>

        <% dbDataHeaders.forEach(key => { %>
            <% if( count > 0){ %>
                <label> <%= key[0]%> </label> <input type="text" name="<%= key[0]%>">
            <% } %>
            <% count++; %>
        <%}) %>
        
        <button id="addRow-btn" type="submit">Add Row</button>
        </form>
    
        <h3> Table name = <%= currentTable; %> </h3>
        <%- include ("partials/dataTables") %>
    </div>

    <%- include('partials/footer') %>

</body>

