    <%- include ("partials/head") %>

<body>

    <%- include('partials/header') %>
    <h1> <%= pageTitle; %> </h1>

    <form  id="form" action="/" method="POST">
        Table name: <input type="text" name="table_name">
        <button type="submit">Get Table</button>
    </form>
    
    <%- include('partials/dataTables') %>

    <!-- <%- include('partials/footer') %> -->
</body>
