    <%- include ("partials/head") %>

<body>
    <div id="mainDiv">
        <%- include('partials/header') %>
        <h1> <%= pageTitle; %> </h1>
        
        <form id="form" action="/" method="POST">
            Table name: <input type="text" name="userInput" required>
            <button type="submit">Get Table</button>
        </form>
        
        <%- include('partials/dataTables') %>
    
    </div>

    <%- include('partials/footer') %>
</body>
