<%- include ("partials/head") %>

<body>
    
    <%- include('partials/header') %>
    <h1> <%= pageTitle; %> </h1>

    <form action="/removeData" method="POST">
        Row to remove: <input type="text" name="id">
        <button type="submit"> Remove row! </button>
    </form>

    <h3> Table name = <%= currentTable; %> </h3>
    <%- include ("partials/dataTables") %>
</body>

